@import "../variables/variables.scss";

@mixin estilo-h1{
    text-align: center;
    text-decoration: underline 1.5vh $rojo;
    color: black;
    font:{
        family: $fuente;
        size: 3.5em;
        weight: bold;
    }
}
@mixin estilo-h1-mobile{
    text-align: center;
    text-decoration: underline 2vw $rojo;
    color: black;
    font:{
        family: $fuente;
        size: 10vw;
        weight: bold;
    }
}
@mixin titular-mobile {
    font:{
        family: $fuente;
        weight: 700;
        size: 5vw;
    }
}
@mixin subtitulo-mobile{
    font:{
        family: $fuente;
        weight: 400;
        size: 4vw;
    } 
}